[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/norrecraft/hugo-terrassa-theme.git
[submodule "public"]
	path = public
	url = https://github.com/norrecraft/norrecraft.github.io.git
	branch = master
